<body>
<a class="container fontvariant" id="container" >
		<figure class="" id='figure'>
			<img id='figure-image' />
			<div id='figure-overlay-on' class='figure-overlay'></div>
			<div id='figure-overlay-off' class='figure-overlay'></div>
			<figcaption id='figcaption'></figcaption>
		</figure>
		<div class="card" id='card'>
			<div id="face0" class="front face face0">
				<img id="image0"/>
				<span id="svg0"></span>
				<div class="face1-text-wrap"><span class="text" id="text0"></span></div>
				<div class="text-card-context display-none">
					<div class="text-card-context-inner">
						<div class="text-card-align" >
							<div class="text-card-content text-card-content0">
								<div class="text" id="text00"></div>
								<div class="text" id="subtext0"></div>
								<div href="#face1" class="cd-btn" id="btntext00"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="face1" class="back face face1">
				<img id="image1">
				<span id="svg1"></span>
				<div class="face1-text-wrap" ><span class="text" id="text1"></span></div>
				<div class="text-card-context display-none">
					<div class="text-card-context-inner">
						<div class="text-card-align" >
							<div class="text-card-content text-card-content1">
								<div class="text" id="text11"></div>
								<div class="text" id="subtext1"></div>
								<div  class="cd-btn" id="btntext11"></div>
							</div>
						</div>
					</div>
					<span href="#0" class="modal-close">Close</span>
				</div>
			</div>
		</div>
		<div id = "codyhouse">
			<main class="cd-main-content" id = "face4">
				<div>
					<div class="codyhouse-context0">
						<span class="text" id="text4"></span>
						<span class="text" id="subtext4"></span>
						<span href="#face5" class="cd-btn cd-modal-trigger" id="btntext0">Start Effect</span>
					</div>
				</div>
			</main>
			<div class="cd-modal" id="face5">
				<div class="modal-content">
					<div id="face5-wrap">
						<div class="codyhouse-context1">
							<span class="text" id="text5"></span>
							<span class="text" id="subtext5"></span>
							<span  id="btntext1" class ="cd-btn"></span>
						</div>
					</div>
					<span href="#0" class="modal-close">Close</span>
				</div>
			</div>
			<div class="cd-transition-layer" data-frame="38">
				<div class="bg-layer"></div>
			</div>
		</div>
	</a>
</body>
